/* Estilos generales */
body {
  background-color: #ffffff;
}


nav .nav-link {
  color: #ffffff;
  transition: background-color 0.3s ease, color 0.3s ease;
}

nav .nav-link:hover {
  background-color: #495057; 
  color: #ffc107; 
}

nav .nav-link.active {
  background-color: #007bff; 
  color: #ffffff; 
}
header {
  background-color: #343a40;
}

header h5, header span {
  color: #ffffff;
}

.table thead {
  background-color: #343a40;
  color: #fff;
}

.fondo-dashboard{
  background-image: url("../img/bg.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: rgb(255, 255, 255);
  height: 100vh;
  padding: 0px;
  
}

#servicioForm{
  background-color: rgba(5, 5, 5, 0.103);
  backdrop-filter: blur(2px); 
  max-width: 500px; 
  color: #ffffff;
  margin: 20px auto; 
  border: 1px solid rgba(255, 255, 255, 0.363);
  padding: 30px; 
  border-radius: 8px;
}