body{
    display: grid;
    grid-template-columns: repeat(auto-fit, 1fr);
    grid-template-rows: repeat(auto-fit, 1fr);
}
.header{
    grid-row: 1;
    grid-column: 1 / span 3;
    background-size: cover;
    min-height: 100vh;
}
.header> nav{
    background-color: transparent !important;
}
input{
    width: 55%;
}
section{
    grid-column: 1 / span 3;
    grid-row: 1 ;
}
.banner> div> img{
    height: 30%;
    width: 100%;
}